body {
    background-color: red;
}

#Opcoes {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    background-color: yellow;
}

p {
    margin-top: 50px;
    margin-right: 100px;
}