* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Speedee", arial, helvetica, sans-serif;

}

#header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#geral {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    padding: 20px;
}

.produto {
    text-align: center;
}

.produto img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.produto a {
    text-decoration: none;
    color: black;
}

.produto p {
    margin-top: 10px;
    font-size: 18px;
}

#footer img {
    width: 100%;
    height: auto;
}
