<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/produtos.css">
    <link rel="stylesheet" href="../../css/pedidos.css">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <title>Sanduíches</title>
</head>
<body>
    <header>
        <div id="header">
            <img src="../../img/logo_header_icon.svg" alt="Imagem logo McDonald">
            <nav>
                <ul>
                    <li><a href="../menu/menu.html">Menu</a></li>
                    <li><a href="">Carrinho</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div id="geral">
            <div class="produto">
                <a href="">
                    <img src="../../img/Sanduiches/lanche_1_icon.png" alt="Sanduíche 1">
                    <p>Sanduíche de Frango</p>
                </a>
            </div>

            <div class="produto">
                <a href="">
                    <img src="../../img/Sanduiches/lanche_2_icon.png" alt="Sanduíche 2">
                    <p>Sanduíche Duplo</p>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer">
            <img src="../../img/logo_footer_icon.png" alt="Imagem McDonald">
        </div>
    </footer>

    <div class="pedido">
        <div class="opcao-entrega">
            <button class="retirar-botao">
                Peça e Retire
              </button>
            <button class="entrega-botao">McDelivery</button>
        </div>

        <div class="endereco">
            <img src="../../img/Pedidos/iconeMoto.svg" alt="Icone delivery">
            <div class="endereco-info">
                <strong>Endereço de entrega</strong><br>
                Rua xxxxxxxxx 11910001111, Guarulhos, SP
            </div>
            <a href="../trocar_endereco.html">
            <button class="trocar-endereco">Trocar</button>
        </a>
        </div>
      
            <a href="#" class="pedido-sumario">        
                <span class="preco-total">R$ 00,00</span>
                <img src="../../img/Pedidos/iconeMoto2.svg" alt="Icone moto">
                <span class="total-itens">1</span>
            </a>
    </div>
</body>
</html>