*{
    margin: 0;
    text-decoration: none;
    color: black;
}
.paginas{
    margin-left: 5%;
    font-size: 18px;
    font-family: "Speedee", arial, helvetica, sans-serif;
}
#logo{
    width: 108px;
    height: 95px;
}
#menu-cabecalho{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 12vh;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
  
}
#menu-principal{
    display: flex;
    justify-content: end;
   
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    margin-top: 12vh;
}
#texto-principal{
    margin-right: 5%;
    margin-top: 30%;
}

