<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/menu.css">
    <title>Menu</title>
</head>
<body>

    <header>
        <div id="header">
            <img src="../../img/logo_header_icon.svg" alt="Imagem logo McDonald">
        </div>
    </header>

    <main>
        <div id="Opcoes">
            <img src="../../img/Sanduiches/Sanduiche_icon.png" alt="Lanches">
            <p>Lanches</p>


            <img src="../../img/Bebidas/Bebida_icon.png" alt="Bebidas">
            <p>Bebidas</p>

            <img src="../../img/Sobremesas/Sobremesa_icon.png" alt="Sobremesas">
            <p>Sobremesas</p>
        </div>
    </main>

    <footer>
        <div id="footer">
            <img src="../../img/logo_footer_icon.png" alt="Imagem McDonald">
        </div>
    </footer>
</body>
</html>