<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="../../css/pedidos.css">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <title>Menu</title>
</head>
<body>
    <header>
        <div id="header">
            <a href="../../index.html">
                <img src="../../img/logo_header_icon.svg" alt="Imagem logo McDonald">
            </a>
        </div>
    </header>

    <main>
        <div id="Opcoes">
            <div class="opcao">
                <a href="../lanches/lanches.html">
                    <img src="../../img/Sanduiches/Sanduiche_icon.png" alt="Lanches">
                    <p>Lanches</p>
                </a>
            </div>

            <div class="opcao">
                <a href="../bebidas/bebidas.html">
                    <img src="../../img/Bebidas/Bebida_icon.png" alt="Bebidas">
                    <p>Bebidas</p>
                </a>
            </div>

            <div class="opcao">
                <a href="../sobremesas/sobremesas.html">
                    <img src="../../img/Sobremesas/Sobremesa_icon.png" alt="Sobremesas">
                    <p>Sobremesas</p>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer">
            <img src="../../img/logo_footer_icon.png" alt="Imagem McDonald">
        </div>
    </footer>
</body>
</html>