<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/produtos.css">
    <title>Sobremesas</title>
</head>
<body>
    <header>
        <div id="header">
            <img src="../../img/logo_header_icon.svg" alt="Imagem logo McDonald">
            <nav>
                <ul>
                    <li><a href="../menu/menu.html">Menu</a></li>
                    <li><a href="../carrinho.html">Carrinho</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div id="geral">
            <div class="produto">
                <a href="../carrinho.html">
                    <img src="../../img/Sobremesas/Sobremesa_1_icon.png" alt="Sobremesa 1">
                    <p>Chocolate&Creme</p>
                </a>
            </div>

            <div class="produto">
                <a href="../carrinho.html">
                    <img src="../../img/Sobremesas/Sobremesa_2_icon.png" alt="Sobremesa 2">
                    <p>Sundae com caramelo</p>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer">
            <img src="../../img/logo_footer_icon.png" alt="Imagem McDonald">
        </div>
    </footer>
</body>
</html>