<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/produtos.css">
    <link rel="stylesheet" href="../../css/pedidos.css">
    <link rel="stylesheet" href="../../css/carrinho.css">
    <script src="../../js/carrinho.js" defer></script>
    <script src="../../js/pedido.js" defer></script>
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <title>Sobremesas</title>
</head>
<body>
    <header>
        <div id="header">
            <img src="../../img/logo_header_icon.svg" alt="Imagem logo McDonald">
            <nav>
                <ul>
                    <li><a href="../menu/menu.html">Menu</a></li>
                    <li><a href="../pedidos/carrinho.html">Carrinho</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div id="geral">
            <div class="produto">
                <span id="sobremesa-1">
                    <img src="../../img/Sobremesas/Sobremesa_1_icon.png" alt="Sobremesa 1">
                    <p>McFlurry Choco&Cream Kopenhagen</p>
                </span>
            </div>

            <div class="produto">
                <span id="sobremesa-2">
                    <img src="../../img/Sobremesas/Sobremesa_2_icon.png" alt="Sobremesa 2">
                    <p>Top Sundae Caramelo</p>
                </span>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer">
            <img src="../../img/logo_footer_icon.png" alt="Imagem McDonald">
        </div>
    </footer>

    <div class="pedido">
        <div class="opcao-entrega">
            <button class="retirar-botao">
                Peça e Retire
              </button>
            <button class="entrega-botao">McDelivery</button>
        </div>

        <div class="endereco">
            <img src="../../img/Pedidos/iconeMoto.svg" alt="Icone delivery">
            <div class="endereco-info">
                <strong>Endereço de entrega</strong><br>
                Rua xxxxxxxxx 11910001111, Guarulhos, SP
            </div>
            <a href="../trocar_endereco.html">
                <button class="trocar-endereco">Trocar</button>
            </a>
        </div>
      
            <a href="#" class="pedido-sumario">        
                <span class="preco-total">R$ 00,00</span>
                <img src="../../img/Pedidos/iconeMoto2.svg" alt="Icone moto">
                <span class="total-itens">1</span>
            </a>
    </div>
    
    <div class="carrinho">
        <section class="titulo-carrinho">
            <h1>Seu pedido</h1>
            <span>
                <span class="fechar-carrinho">X</span>
                <span class="limpar">Limpar</span>
            </span>
           
        </section>
        <div class="endereco-carrinho">
            <img src="../../img/Pedidos/iconeMoto.svg" alt="Ícone delivery">
            <span>Endereço de entrega</span>
            <p>Rua xxxxxxxx 11900001111, Guarulhos, SP</p>
            <a href="../trocar_endereco.html">
                <button class="trocar-endereco-carrinho" >Trocar</button>
            </a>
        </div>
        
        <div class="itens-pedido">
            <div class="item-info">
                <img src="" alt="Imagem do Produto">
                <div>
                    <p class="nome-item">Big Mac</p>
                </div>
            </div>
            <div class="preco-item">
                <span class="preco">R$ 42,90</span>
                <div class="quantidade-item">
                    <button class="excluir-item">
                        <img src="../../img/Pedidos/excluirIcone.svg" alt="Ícone excluír" class="icone-excluir">
                    </button>
                    <span>1</span>
                    <button class="adicionar-item">
                        <img src="../../img/Pedidos/adicionarIcone.svg" alt="Ícone adicionar" class="icone-adicionar">
                    </button>
                 
                </div>
            </div>
        </div>
        
        <div class="sessao-total-carrinho">
            <div class="desconto">
                <span class="sessao-desconto">
                    <img src="../../img/Pedidos/descontoIcone.svg" alt="Ícone de desconto" class="icone-desconto">
                    Você tem um código de desconto?
                </span>
                <span class="adicionar-desconto">Adicionar</span>
            </div>
            <div class="total">
                <h2>Total</h2>
                <span class="preco-total-carrinho">R$ 00,00</span>
            </div>
        </div>

        <div class="acoes">
            <button class="adicionar-itens-diferentes">Adicionar mais itens</button>
            <button class="proxima-pagina">Próximo</button>
        </div>
    </div>
</body>
</html>